<% provide(:title,'Home') %>

<div class="center jumbotron">
  <h1>Welcome to the Instagram Clone App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.instagram.com">Instagram</a>
    Clone application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

