
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% provide(:title, "Log in") %>
　　<h1>Instagram</h1>
　　<h2>友達の写真や動画をチェックしよう</h2>
　　<a href="#">
      <button type="button">Facebookでログイン</button>
　　</a>
　　<p>または</p>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>アカウントをお持ちではないですか？ <%= link_to "登録する", signup_path %></p>
    <%= link_to "パスワードを忘れた場合", new_password_reset_path %>
  </div>
</div>