
<% provide(:title, "パスワードをリセット") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>ログインできない場合</h1>
    <p>
      アカウントにアクセスするためのログインリンクを送信するため、
      メールアドレスを入力してください。
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>または</h2>
      <p><%= link_to "新しいアカウントを作成", signup_path %></p>
      <p><%= link_to "ログインに戻る", login_path %></p>
  </div>
</div>