<h1>Instagram Clone App</h1>

<p>こんにちは、 <%= @user.name %>さん</p>

<p>
Instagramアカウントのセキュリティを確保するため、メールアドレスの認証を行ってください。
</p>

<%= link_to "メールアドレスを認証してください", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
