こんにちは、<%= @user.name %>さん

Instagramパスワードのリセットがリクエストされました。
以下のURLからパスワード再設定を行ってください。

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>


上記URLの有効期限は、このメール送信後２時間です。
このメッセージを無視した場合、パスワードは変更されません。
パスワードのリセットをリクエストした覚えがない場合は、ご連絡ください。