<h1>Instagram Clone APP</h1>

<p>
  こんにちは、<%= @user.name %>さん
</p>
<p>
  Instagramパスワードのリセットがリクエストされました。
以下のURLからパスワード再設定を行ってください。
</p>

<%= link_to "パスワードをリセット", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
  上記URLの有効期限は、このメール送信後２時間です。
このメッセージを無視した場合、パスワードは変更されません。
パスワードのリセットをリクエストした覚えがない場合は、ご連絡ください。
</p>
