<% if logged_in? %>
<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
  <div class="col-md-4">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user %>
        <%= link_to @user.name, @user %>
      </h2>
      <h2>
        <%= @user.user_name %>
      </h2>
    </section>
  </div> 

<% else %>
<div class="row">
  <div class="col-md-4">
    <%= link_to image_tag("instagram_logo.png", alt: "Instagram logo"),'https://www.instagram.com' %>
  </div>
  <div class="col-md-6 col-md-offset-2 ">
    <% provide(:title, "Signup") %>
　　<h1>Instagram</h1>
　　<h2>友達の写真や動画をチェックしよう</h2>
　　<a href="#">
      <button type="button">Facebookでログイン</button>
　　</a>
　　<p>
　　  または
　　</p>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <p>
      アカウントをお持ちですか？ <%= link_to "ログインする", login_path %>
    </p>
  </div>
</div>
<% end %>

