<% provide(:title, @title) %>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <h2>
        <%= @user.user_name %>
      </h2>
    </section>
  </div>
  <div class="col-md-6 user_info">
    
  <div class="btn-group">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      プロフィールを編集<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Profile", @user %>
      </li>
      <li>
        <%= link_to "Edit Profile", edit_user_path(@user) %>
      </li>
      <li>
        <%= link_to "Change Password", change_path %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </div>
  <%= render 'shared/stats' %>
  <%= render 'follow_form' if logged_in? %>
</div>

<div class="col-md-8">
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>