<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="user_info">
        <h2>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h2>
        <h2>
          <%= @user.user_name %>
        </h2>
      </section>
    </div>
    <div class="col-md-6 user_info">
      
    <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        プロフィールを編集<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "プロフィール", @user %>
        </li>
        <li>
          <%= link_to "プロフィールを編集", edit_user_path(@user) %>
        </li>
        <li>
          <%= link_to "パスワードを変更", change_user_path(@user) %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "ログアウト", logout_path, method: :delete %>
        </li>
        <% if current_user == @user %>
          <li class="divider"></li>
          <li>
            <%= link_to "アカウントを削除", user_path(current_user), method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if logged_in? %>
  </div>
  
  <div class="row">
    <% if @user.microposts.any? %>
      <% @microposts.each do |micropost| %>
        <div class="col-md-4 col-sm-4"> 
          <a href="#" class="thumbnail">
            <div class="image">
              <img src="<%= micropost.picture.url %>" class="img img-responsive  full-width" >
            </div>
          </a>
        </div>
      <% end %>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
    
    
    
    
    