
<div class="stats">
  <ul class="list-inline">
      <li class="list-inline-item">
        <strong class="stat">
          <%= link_to "投稿#{@user.microposts.count}件", @user %>
        </strong>
      </li>
      <li class="list-inline-item">
        <strong id="followers" class="stat">
          <%= link_to "フォロワー#{@user.followers.count}人  ",followers_user_path(@user) %>
        </strong>
      </li>
      <li class="list-inline-item">
        <strong id="following" class="stat">
          <%= link_to "  #{@user.followers.count}人をフォロー中", following_user_path(@user) %>
        </strong>
      </li>
  </ul>
</div>