<div>
  <h2>利用規約</h2>
  <div style="font-size: 16px; line-height: 1.5; padding: 0 8px; margin: auto; margin-top: 40px; max-width: 960px;">
    <div style="font-size: 16px; padding-bottom: 40px;">
      Instagramへようこそ！ <br><br>
      この利用規約は、Instagramをご利用いただく際に適用されるものであり、Instagramサービスに関する情報を提供するものです。
      Instagramアカウントを作成する場合、またはInstagramをご利用になる場合は、本規約に同意していただくことになります。 <br><br>
      Instagramサービスは、Facebook, Inc.が提供する
      <a href="https://www.facebook.com/help/1561485474074139?ref=igtos" target="_blank" rel="noopener" data-lnfb-mode="origin">
        Facebook製品
      </a>
      の1つです。したがって本規約は、利用者とFacebook, Inc.の間での合意を構成するものです。 <br><br>
    </div>
    <div>
      <h3 style="font-size: 20px; font-weight: normal;">
      <b>Instagramサービス</b></h3>
      <p>
        弊社は、Instagramサービスを利用者に提供することに同意します。
          nstagramサービスには、Instagramの製品、機能、アプリ、サービス、技術およびソフトウェアのすべてが含まれます。
        これらは、Instagramのミッション「利用者と大好きな人やものとのつながりを深める」を推進することを目的として
        提供されるものです。Instagramサービスは、次の要素で構成されています(以下「サービス」)。
      </p>
      <ul class="uiList _341 _3vz6 _4of _4kg" style="list-style: disc; color: black; display: block; -webkit-margin-after: 12px;
          -webkit-margin-before: 12px; -webkit-margin-end:0px; -webkit-margin-start: 0px; -webkit-padding-start: 40px;">
        <li><div class="fcb">
          <b>創作、コミュニケーション、発見およびシェアを行い、つながりを構築するためのパーソナライズされた機会を提供すること</b><br>
          人は皆それぞれ異なります。弊社は、利用者が実際に関心を持ち、シェアする体験を通じて、人と人との関係強化を実現したいと考えています。
          そこで弊社は、利用者やその他の人が、誰に対して、そして何について関心があるのか理解するためのシステムを構築するとともに、
          利用者が関心のある体験を通じて創作、発見、参加およびシェアを行うことができるよう支援するために、その情報を使用しています。
          その一部として、Instagram上であるかを問わず利用者等がとる行動に基づき、利用者が興味を持つ可能性のあるコンテンツ、機能、
          クーポンおよびアカウントを強調したり、Instagramの体験方法を提示したりしています。
        </div></li>
        <li><div class="fcb">
          <b>ポジティブで開放的かつ安全な環境を構築すること</b><br>
          弊社は、支援が必要と考える場合を含め、コミュニティのメンバーの体験をポジティブかつ開放的なものにするために
          役立つツールを開発および使用し、これらに役立つリソースを提供しています。その他にも、弊社には、有害な行動
          や不正な行動のほか、弊社の規約やポリシーの悪用や違反を防止するための活動を行うチームやシステムがあります。
          弊社が保有するすべての情報(利用者の情報を含む)は、プラットフォームを安全に保つために使用されます。
          また、コンテンツの不正利用や有害なコンテンツに関する情報を、他のFacebookグループ企業や法執行機関との間で
          共有する場合があります。詳しくは、
          <a class="_5dwo" href="http://help.instagram.com/519522125107875?helpref=page_content" target="_self" data-lnfb-mode="origin">
            データに関するポリシー
          </a>
          をご覧ください。
        </div></li>
        <li><div class="fcb">
          <b>拡大を続ける弊社のコミュニティを着実に支えるための技術の開発と使用</b><br>
          弊社のサービスの中核は、拡大を続ける弊社のコミュニティに役立つ情報を整理し分析することです。
          弊社のサービスの重要な部分は、広範囲にわたるグローバルなコミュニティのために、弊社のサービスをパーソナライズ、
          保護および改善することに役立つ最先端技術を大規模なスケールで創造および活用することです。
          人工知能や機械学習といった技術を用いることで、弊社はサービス全体を通した複雑な処理に対応できるようになります。
          さらに、自動化技術もサービスの機能性および保全の確保に役立ちます。
        </div></li>
        <li><div class="fcb">
          <b>Facebookグループ企業のほかの製品全体を通して、一貫性のあるシームレスな体験を提供すること</b><br>
          Instagramは、Facebookグループ企業の一員です。Facebookグループ企業は、より優れた安全かつ確実なサービスの提供
          を目的として、技術、システム、インサイトおよび情報(利用者に関して弊社が保有する情報を含む)を共有しています。
          詳しくは、
          <a class="_5dwo" href="http://help.instagram.com/519522125107875?helpref=page_content" target="_self" data-lnfb-mode="origin">
            データに関するポリシー
          </a>
          をご覧ください。また弊社は、ご利用中のFacebookグループ企業の製品全体を通して交流を行う手段を提供するほか、
          Facebookグループ企業の製品全体を通してシームレスかつ一貫性のある体験が得られるように設計されたシステムを提供
          しています。
        </div></li>
        <li><div class="fcb">
          <b>サービスを支える安定したグローバルインフラストラクチャを確保すること</b><br>
          グローバルサービスを提供するには、(利用者の居住国以外を含む)世界中のシステムにデータを保存および移転する
            必要があります。Facebook, Inc.、Facebook Ireland Limited、またはこれらの関係会社が、このインフラストラクチャ
            を所有し、その運用を行う場合があります。
        </div></li>
        <li><div class="fcb">
          <b>利用者が関心を寄せる方法で、利用者と、ブランド、製品、サービスをつなぐこと</b><br>
          弊社は、Instagramやその他のFacebookグループ企業の製品あるいは外部のパートナーから入手したデータを、
          利用者にとって有意義であると弊社が判断する広告、クーポンおよびその他のスポンサー付きコンテンツを表示するため
          に使用しています。さらに弊社は、そのコンテンツが利用者のInstagram上で他のすべての体験と適切に関連付くように
          努めます。
        </div></li>
        <li><div class="fcb">
          <b>研究およびイノベーション</b><br>
          弊社は、弊社のサービスの研究および他者と協力して進める研究のため、保有する情報を使用します。これにより、
          弊社のサービスはより優れたものとなり、弊社のコミュニティの福利に貢献できます。
        </div></li>
      </ul><br>
    </div>
    <div class="_1sr9">
      <h3 class="_1sra" style="font-size: 20px; font-weight: normal;">
        <b>データに関するポリシー</b>
      </h3>
      <p class="_3p8">
        弊社のサービスを提供するために、弊社は利用者の情報を取得し、これを使用する必要があります。
        <a class="_5dwo" href="http://help.instagram.com/519522125107875?helpref=page_content" target="_self" data-lnfb-mode="origin">
          データに関するポリシー
        </a>
          では、弊社が
        <a class="_5dwo" href="https://www.facebook.com/help/1561485474074139?helpref=page_content" target="_self" rel="noopener" data-lnfb-mode="origin">
          Facebook製品
        </a>
        全体を通してどのように情報を取得、使用、また共有するかについて説明しています。このポリシーは、
        <a class="_5dwo" href="http://help.instagram.com/285881641526716?helpref=page_content" target="_self" data-lnfb-mode="origin">
          Instagramのプライバシーおよびセキュリティ設定
        </a>
        など、あなたがご自身の情報を管理するさまざまな方法についても説明しています。 Instagramをご利用になる場合、
        データに関するポリシーに同意していただく必要があります。
      </p><br>
    </div>
    <div class="_1sr9">
      <h3 class="_1sra" style="font-size: 20px; font-weight: normal;">
        <b>利用者による誓約</b>
      </h3>
      弊社が提供するサービスのご利用にあたり、利用者は、次の事項について、弊社に対して誓約していただく必要があります。
      <p class="_3p8"></p>
      <b>Instagramを利用できる方:</b>
      弊社は、法令に従って、弊社のサービスをできる限りオープンで開放的にするとともに、安全かつ確実で適法なものにしたい
      と考えています。そこで、Instagramコミュニティに参加する利用者には、いくつかの制限事項の遵守について誓約して
      いただく必要があります。 <br><br>
      <ul class="uiList _341 _3vz6 _4of _4kg">
        <li><div class="fcb">
          13歳以上であるか、または自国でInstagramを利用できる法定年齢に達していること。
        </div></li>
        <li><div class="fcb">
          適用法により弊社サービスの一部の提供を受けることを禁止されていないこと。適用される取引禁止対象者リストに
          掲載されている場合は、サービスに関連する支払いへの関与を禁止されていないこと。
        </div></li>
        <li><div class="fcb">
          法令違反や弊社のポリシー違反を理由として、過去にアカウントを停止されたことがないこと。
        </div></li>
        <li><div class="fcb">
          性犯罪者でないこと。
        </div></li>
      </ul>
      <p class="_3p8"></p>
      <b>Instagramで禁止されている行為</b>
      広範囲にわたるコミュニティに安全でオープンなサービスを提供するためには、私たち全員がそれぞれの役割を果たす
      必要があります。
      <ul class="uiList _341 _3vz6 _4of _4kg" style="list-style: disc; color: black; display: block; 
      -webkit-margin-after: 12px; -webkit-margin-before: 12px; -webkit-margin-end:0px; -webkit-margin-start: 0px; 
      -webkit-padding-start: 40px;">
        <li><div class="fcb">
          <b>他人へのなりすましや不正確な情報の提供は禁止されています。</b><br>
          Instagramでは、利用者ご自身の身元を開示していただく必要はありませんが、弊社に対しては、正確かつ最新の情報
          (登録情報を含む)を提供していただく必要があります。他人へのなりすましは禁止します。また、本人から明示的な
          許可を得ない限り、他の人のアカウントを作成することはできません。
        </div></li>
        <li><div class="fcb">
          <b>
            不正な、誤解を招くおそれのある、または詐欺的な行為を行うことや、違法または不正な目的で何らかの行為を
            行うことは禁止されています。
          </b>
        </div></li>
        <li><div class="fcb">
          <b>
            利用者は、この規約や弊社のポリシーに違反したり、他人に違反を奨励したりしてはなりません。具体的には、
            <a class="_5dwo" href="http://help.instagram.com/477434105621119?helpref=page_content" target="_self" data-lnfb-mode="origin">
              Instagramコミュニティ規定
            </a>
            、
            <a class="_5dwo" href="https://www.instagram.com/about/legal/terms/api/" target="_self" data-lnfb-mode="origin">
              Instagramプラットフォームポリシー
            </a>
            、
            <a class="_5dwo" href="https://www.facebook.com/legal/music_guidelines" target="_self" rel="noopener" data-lnfb-mode="origin">
              音楽ガイドライン
            </a>
            などの規約やポリシーを指しています。
          </b>
          行為やコンテンツに関して報告を行う場合は、弊社の
          <a class="_5dwo" href="http://help.instagram.com/?helpref=page_content" target="_self" data-lnfb-mode="origin">
            ヘルプセンター
          </a>
          をご覧ください。
        </div></li>
        <li><div class="fcb">
          <b>意図されたサービスの運用に支障をきたす行為や、これを損なう行為は禁止されています。</b>
        </div></li>
        <li><div class="fcb">
          <b>不正な方法を用いて、アカウントの作成、情報へのアクセス、または情報の取得を試みることは禁止されています。</b><br>
          これには、弊社から明示的な許可を得ることなく、自動化された手段を用いてアカウントを作成したり、情報を取得したりする
          行為が含まれます。
        </div></li>
        <li><div class="fcb">
          <b>
            ご自身のアカウント(ユーザーネームを含む)の一部分の購入、販売または譲渡を試みること、また他のユーザー
            のログイン認証もしくはバッジの募集、取得または使用を試みることは禁止されています。
          </b>
        </div></li>
        <li><div class="fcb">
          <b>
            個人情報や秘密情報を投稿したり、知的財産などの他者の権利を侵害したりする行為は、
            禁止されています。
          </b><br>
          ご自身の知的財産権が侵害されていると疑われるコンテンツについて報告する場合、詳しくは
          <a class="_5dwo" href="http://help.instagram.com/535503073130320?helpref=page_content" target="_self" data-lnfb-mode="origin">
            こちら
          </a>
          をご覧ください。
        </div></li>
        <li><div class="fcb">
          <b>
            弊社から事前に書面による許可を得ることなく、ドメイン名やURLを自分のユーザーネームに使用することは、
            禁止されています。
          </b>
        </div></li>
      </ul>
      <b>
        弊社に対する利用者の許可:
      </b>
      弊社と利用者との間の契約の一部として、利用者は、弊社がサービスを提供するにあたり必要となる許可を弊社に付与します。 <br><br>
      <ul class="uiList _341 _3vz6 _4of _4kg">
        <li><div class="fcb">
          <b>
            弊社が利用者のコンテンツの権利の帰属を主張することはありませんが、利用者はコンテンツを使用するための
            ライセンスを弊社に付与します。
          </b><br>
          利用者がそのコンテンツについて保有する権利に変動が生じることはありません。弊社は、利用者がサービス上で、
          またはサービスを通じて投稿するいかなる利用者のコンテンツについても、その権利の帰属を主張しません。 
          ただし、利用者がサービス上で、またはサービスに関連して、知的財産権の対象となっているコンテンツ(写真や動画など)
          をシェア、投稿またはアップロードする場合、利用者は、弊社が(利用者のプライバシー設定およびアプリ設定に沿って)
          利用者のコンテンツをホスト、使用、配信、変更、運営、複製、公演、公開あるいは翻訳し、また派生作品を作成する
          非独占的、使用料なしの、譲渡可能、サブライセンス可能な全世界を対象としたライセンスを付与するものとします。
          このライセンス付与は、利用者がコンテンツやアカウントを削除することにより、いつでも終了させることができます。
          ただし、利用者が他の人にシェアしたコンテンツであっても、その人が削除していないものについては、継続して表示され
          ます。弊社が利用者の情報をどのように使用するのか、また利用者がご自身のコンテンツをどのように管理または削除
          できるのかについて、詳しくは
          <a class="_5dwo" href="http://help.instagram.com/519522125107875" data-lnfb-mode="origin">
            データに関するポリシー
          </a>
          をご覧になるか、
          <a class="_5dwo" href="http://help.instagram.com/" data-lnfb-mode="origin">
            Instagramヘルプセンター
          </a>
          にご相談ください。
        </div></li>
        <li><div class="fcb">
          <b>
            利用者のユーザーネーム、プロフィール写真、およびアカウントや広告、スポンサー付きコンテンツとの関係
            やこれらに対するアクションに関する情報の使用許可
          </b><br>
          利用者は、弊社が利用者に対していかなる謝礼を支払うことなく、フォローしているまたは関わりを持っている
          アカウント、広告、クーポン、その他Facebook製品で表示されるスポンサー付きコンテンツに並べて、
          あるいは関連して、次の事項を表示することを弊社に許可するものとします。利用者のユーザーネーム、
          プロフィール写真、およびアクション(「いいね！」など)または交友関係やつながり(フォローなど)に関する情報。
          例えば、利用者が、Instagramに有料広告を表示するブランドが作成したスポンサー付き投稿に「いいね！」をした場合、
          これを表示する場合があります。その他のコンテンツ上のアクションやその他のアカウントのフォローと同じく、
          スポンサー付きコンテンツ上のアクションとスポンサー付きアカウントのフォローは、当該コンテンツやフォロー
          を見ることを許可された人に対してのみ表示されます。弊社は、利用者の広告設定を尊重します。広告設定については、
          <a class="_5dwo" href="http://help.instagram.com/615366948510230" data-lnfb-mode="origin">
            こちら
          </a>
          をご覧ください。
        </div></li>
        <li><div class="fcb">
          <b>
            利用者は、サービスに関するアップデートが利用者のデバイスにダウンロードおよびインストールされることに
            同意します。
          </b>
        </div></li>
      </ul><br>
    </div>
    <div class="_1sr9">
      <h3 class="_1sra" style="font-size: 20px; font-weight: normal;">
        <b>
          弊社が保持するその他の権利
        </b>
      </h3>
      <ul class="uiList _341 _3vz6 _4of _4kg" style="list-style: disc; color: black; display: block; 
      -webkit-margin-after: 12px; -webkit-margin-before: 12px; -webkit-margin-end:0px; -webkit-margin-start: 0px; 
      -webkit-padding-start: 40px;">
        <li><div class="fcb">
          利用者が自分のアカウント用に選択するユーザーネームまたは類似のアカウント識別情報について、
          弊社が妥当または必要であると考える場合(例えば、それらが他者の知的財産権を侵害する、または他のユーザー
          のなりすましであるなど)、弊社は当該情報を変更することがあります。
        </div></li>
        <li><div class="fcb">
          弊社が保有し、サービス上で提供するコンテンツのうち、知的財産権の対象であるものを利用者が使用する場合
          (例えば、弊社が提供する画像、デザイン、動画、音声のうち、利用者が自ら作成しシェアするコンテンツに追加
          するものなど)、弊社のコンテンツに属するすべての権利(利用者に属する権利を除く)は、弊社が継続して保有するもの
          とします。
        </div></li>
        <li><div class="fcb">
          利用者は、弊社の
          <a class="_5dwo" href="https://www.instagram-brand.com/" target="_self" rel="noopener" data-lnfb-mode="origin">
            ブランドガイドライン
          </a>
          により明示的に許可されている場合、または弊社から事前に書面による許可を得た場合に限り、弊社の知的財産権や
          商標、または類似の商標を使用できます。
        </div></li>
        <li><div class="fcb">
          利用者が弊社のソースコードの改変や派生物の作成、デコンパイル、弊社のソースコードを抽出するようなその他
          の操作を行う場合、弊社からの書面による許可、またはオープンソースライセンスに基づく許可を得る必要があります。
        </div></li>
      </ul><br>
    </div>
    <div class="_1sr9">
      <h3 class="_1sra" style="font-size: 20px; font-weight: normal;">
        <b>
          コンテンツの削除およびアカウントの停止または終了
        </b>
      </h3>
      <ul class="uiList _341 _3vz6 _4of _4kg">
        <li><div class="fcb">
          利用者によってサービスにシェアされたいずれかのコンテンツや情報が本利用規約や弊社のポリシー
          (<a class="_5dwo" href="http://help.instagram.com/477434105621119" data-lnfb-mode="origin">
          Instagramコミュニティガイドライン</a>を含む)に違反していると弊社が判断した場合、もしくは法律により
          削除が認められているまたは義務付けられている場合、弊社は、当該コンテンツや情報を削除することができます。
          弊社は、コミュニティまたはサービスを保護する目的がある場合、すべてまたは一部のサービスの提供を直ちに拒否
          または停止することができます(アカウントの終了や停止を含む)。または、利用者の行為により弊社に何らかのリスク
          が生じたり、弊社が法的リスクを負うこととなった場合、利用者が本利用規約または弊社のポリシー
          (<a class="_5dwo" href="http://help.instagram.com/477434105621119" data-lnfb-mode="origin">
          Instagramコミュニティガイドライン</a>を含む)に違反した場合、利用者が他者の知的財産権を繰り返し侵害
          した場合、または法律により許容または要求される場合についても同様とします。アカウントを停止または終了させる
          措置を講じる場合、必要に応じて利用者に通知します。何らかの誤りによりアカウントが終了されたと思われる場合、
          または利用者がアカウントの停止または完全な削除を希望する場合は、
          <a class="_5dwo" href="http://help.instagram.com/" data-lnfb-mode="origin">
            ヘルプセンター
          </a>
          にご相談ください。
        </div></li>
        <li><div class="fcb">
          利用者が削除したコンテンツは、一定期間バックアップコピーに残る場合があるほか、他者がそれをシェアした場合
          は、引き続き表示されます。本段落および下記の「利用者の同意事項およびご同意いただけない場合に関する事項」
          は、アカウントが終了または削除された後にも引き続き適用されます。
        </div></li>
      </ul><br>
    </div>
    <div class="_1sr9">
      <h3 class="_1sra" style="font-size: 20px; font-weight: normal;">
        <b>
          利用者の同意事項および同意いただけない場合に関する事項
        </b>
      </h3>
      <b>
        同意事項
      </b><br><br>
      <ul class="uiList _341 _3vz6 _4of _4kg">
        <li><div class="fcb">
          サービスで音楽を使用する場合、弊社の
          <a class="_5dwo" href="https://www.facebook.com/legal/music_guidelines" target="_blank" rel="noopener" data-lnfb-mode="origin">
            音楽ガイドライン
          </a>
          もあわせて適用されます。またAPIを使用する場合は、弊社の
          <a class="_5dwo" href="https://www.instagram.com/about/legal/terms/api/" data-lnfb-mode="origin">
            プラットフォームポリシー
          </a>
          が適用されます。その他の一定の機能や関連サービスを利用する場合には、さらにその他の規約が提供されることとなり、
          弊社との同意事項の一部となります。例えば、支払い機能を利用する場合には、
          <a class="_5dwo" href="https://www.facebook.com/payments_terms" target="_blank" rel="noopener" data-lnfb-mode="origin">
            コミュニティ支払い規約
          </a>への同意を求められます。その他の規約と本同意事項の間に抵触する事項がある場合、その他の規約が優先適用されます。
        </div></li>
        <li><div class="fcb">
          本同意事項に施行不能な部分が見つかったとしても、残りの部分は有効に存続するものとします。
        </div></li>
        <li><div class="fcb">
          本同意事項の改訂または放棄は、書面により行われ、弊社の署名が必要となります。弊社が本同意事項のいずれかを施行
          しなかった場合においても、それは放棄とみなされません。
        </div></li>
        <li><div class="fcb">
          弊社は利用者に対して明示的に付与されていない権利を留保します。
        </div></li>
      </ul><br>
      <b>
        同意事項に基づく権利
      </b><br><br>
      <ul class="uiList _341 _3vz6 _4of _4kg">
        <li><div class="fcb">
          本同意事項に基づき、第三者に対して権利が付与されることはありません。
        </div></li>
        <li><div class="fcb">
          利用者は、弊社の同意を得ることなく、本同意事項に基づく利用者の権利または義務を譲渡することができません。
        </div></li>
        <li><div class="fcb">
          弊社の権利と義務については、弊社が他者に対して譲渡することができます。その例としては、(合併、買収または
          事業や資産の売却などにより)弊社の所有者が変更する場合、または法律により義務付けられる場合などがあります。
        </div></li>
      </ul><br>
      <b>
        問題発生に関する責任の所在
      </b><br><br>
      <ul class="uiList _341 _3vz6 _4of _4kg">
        <li><div class="fcb">
          サービスは「現状のまま」で提供されるものであり、弊社は、サービスが安全かつ確実であることや、
          常に完全に動作することを保証することはできません。また法律により許容される限り、弊社は、明示、黙示
          を問わず、あらゆる保証についてこれを否認します。これには、商品性、特定目的適合性、所有権、および非侵害
          に関する黙示的保証が含まれます。
        </div></li>
        <li><div class="fcb">
          弊社は、利用者の言動を管理せず、また(オンライン、オフラインを問わず)利用者の行為や行動、コンテンツ
          (違法または不適切なコンテンツを含む)に関しても責任を負いません。弊社は、他者や他社が提供したサービスや
          機能については、たとえ利用者が弊社のサービスを通じてアクセスしたものである場合であっても、その責任を
          負いません。
        </div></li>
        <li><div class="fcb">
          サービス利用時に発生した問題に関して弊社が負う責任(「法的責任」ともいいます)は、法律により認められる範囲
          に限定されます。サービスに何らかの問題が発生した場合にどのような影響が生じる可能性があるかについて、
          弊社がすべてを把握することはできません。利用者は、本規約に起因または関連して何らかの利益、収入、情報もしく
          はデータが失われ、または派生的損害、特別損害、間接損害、懲罰的損害もしくは付随的損害が発生した場合、弊社
          がそのような損害が発生する可能性を把握していたとしても、弊社がその責任(「法的責任」ともいいます)を負わない
          ことに同意します。これには、弊社が利用者のコンテンツ、情報またはアカウントを削除した場合に発生する損害を含み
          ます。
        </div></li>
      </ul><br>
      <b>
        紛争の解決方法
      </b><br><br>
      利用者が消費者に該当する場合、本規約に起因または関連して弊社に対して行う何らかの請求、申し立ての提起、
      または紛争(以下「請求」)については、利用者の居住国の法律が適用され、その請求は、当該国における当該請求の
      管轄裁判所で解決することができます。その他のすべての場合、利用者は、請求が米国で専属的に解決される必要が
      あることに同意し、抵触法の規定にかかわらず、当該請求は、カリフォルニア北部地区連邦地方裁判所、またはサンマテオ
      郡に所在する州裁判所のいずれかでのみ解決すること、当該請求に関する申し立てを行う目的において、上記のいずれか
      の裁判所の対人管轄権に従うこと、本規約や請求は、カリフォルニア州法に準拠することに同意します。 <br><br>
      <b>
        利用者からのご意見
      </b><br><br>
      いつでも、フィードバックやその他のご提案をお聞かせください。ただし、弊社は、いかなる制限あるいは謝礼の支払い
      義務も負うことなくこれらの情報を使用できるものとし、またその秘密を保持する義務を負わないものとします。 <br>
    </div>
    <div class="_1sr9">
      <h3 class="_1sra" style="font-size: 20px; font-weight: normal;">
        <b>
          本規約の更新
        </b>
      </h3>
      弊社のサービスやポリシーは、変更される場合があります。また、変更されたサービスやポリシーを正確に反映させる
      ために、本規約を変更する必要が生じる場合があります。法律に別段の定めがない限り、弊社は、本規約を変更する前に
      、(サービスなどを通じて)その旨を利用者に通知し、変更された規約が効力を生じる前に利用者に確認する機会を提供
      します。更新後にサービスの利用を継続する場合は、更新後の規約が利用者を法的に拘束することになります。本規約
      または更新後の規約への同意を希望しない場合、
      <a href="https://help.instagram.com/370452623149242?ref=igtos" data-lnfb-mode="origin">
        こちら
      </a>
      でアカウントを削除することができます。 <br>
    </div>
    改定日: 2018年4月19日 
  </div>
</div>
          