<div class="col-md-8">
  <div class="card border-secondary">
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to micropost.user.user_name, micropost.user %>
        <%= link_to gravatar_for(micropost.user, size: 20), micropost.user %>
      </h4>
      <img class="card-img-top" src="<%= micropost.picture.url %>" alt="画像">
      <p class="card-text">
        <span class="content">
          <%= micropost.content %>
        </span>
      </p>
      <div class="card-footer">
        <span class="timestamp">
          Posted <%= time_ago_in_words(micropost.created_at) %> ago.
          <% if current_user?(micropost.user) %>
          <%= link_to "delete", micropost, method: :delete,
                                             data: { confirm: "You sure?" } %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
