<div class="col-sm-6"> 
  <a href="#" class="thumbnail">
    <div class="caption">
      title<br/>3 x bekeken
    </div>
    <div class="image">
      <img src="<%= micropost.picture.url %>" class="img img-responsive full-width" />
    </div>
  </a>
</div>