<% provide(:title, 'explore') %>


<% @microposts.each do |micropost| %>
  <div class="col-md-4 col-sm-4"> 
    <a href=<%= user_path(micropost.user) %> class="thumbnail">
      <div class="image">
        <img src="<%= micropost.picture.url %>" class="img img-responsive  full-width" />
      </div>
    </a>
  </div>
<% end %>

<%= will_paginate %>

