<% if logged_in? %>
<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left" >
        <li><%= link_to "home",  root_path %></li>
        <li><%= link_to "serch", '#'%></li>
        <li><%= link_to "Post",  new_micropost_path %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "like" ,   '#' %></li>
        <li><%= link_to "user",    '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
<% end %>

<div class="row">
  <div class="col-md-12">
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to"INAGRAMについて", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"サポートプレス", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"API", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"求人", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"プライバシー", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"利用規約", terms_path %></li>
　　  <li class="list-inline-item"><%= link_to"ディレクトリ", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"プロフィール", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"ハッシュタグ", '#' %></li>
　　  <li class="list-inline-item"><%= link_to"言語", '#' %></li>
　　</ul>
  </div>
</div>

