<% if logged_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "clone_app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "search",  '#' %></li>
        <li><%= link_to "explore", microposts_path %></li>
        <li><%= link_to "like" ,   '#' %></li>
        <li><%= link_to "user",    current_user %></li>
      </ul>
    </nav>
  </div>
</header>
<% end %>